{% extends 'core/base.html' %}
{% load static %}
{% block content%}

<section class="sectionPrincipal">
    <h1 class="tituloPrincipal">
        Viaja con confort, descubre sin límites.
    </h1>
    <h2 class="subtituloPrincipal">
        Explorá nuevos destinos con la comodidad.<br>
        y seguridad que merecés.<br>
        ¡Subite y descubrí el mundo con nosotros!
    </h2>
    <hr>
</section>
<hr>
<h3 class="tituloPrincipal">Nuestros viajes</h3>
<section class="container sectCard">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'core/img/IMG-20250303-WA0021.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'core/img/IMG-20250303-WA0029.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'core/img/IMG-20250303-WA0016.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
{% endblock %}